<?xml version="1.0"?>
<robot name="teraranger_tower.urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="teraranger_tower.urdf.xacro"/>

    <link name="base_link">
         <visual name="visual">
        <geometry>
          <mesh>
            <uri>model://teraranger_tower/meshes/teratoweredit.dae</uri>
          </mesh>
        </geometry>
      </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0 "/>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="base_link">
        <material>Gazebo/Black</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

<base_hub multi_hub="0" hub_id="0" parent="base_link" x="0.060" y="0.000" z="0.000" roll="0.0" pitch="0.0" yaw="0.0"/>
<teraranger_one multi_hub="0" hub_id="0" id="0" x="0.060" y="0.000" z="0.000" roll="0.0" pitch="0.0" yaw="0.0" gaussian_noise="0.06"/>
</robot>