<?xml version="1.0"?>
<model>
  <version>1.0</version>
  <name>depth_camera</name>
  <sdf version="1.6">depth_camera.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A depth camera that publishes to topic /camera/depth
  </description>
</model>
