<launch>

  <!-- Launch GPS Target conversion nodes -->
  <node pkg="follower" type="gps_conversion_node" name=""/>

  <node pkg="follower" type="gps_wrtdrone_conversion_node" name=""/>

  <!-- Launch Vishnu Cam Data Publisher -->
  <node pkg="vishnu_cam" type="vishnu_cam_node" name=""/>



</launch>
